:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --paint: black;
  }
  input[type="range"] {
    appearance: slider-vertical;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: auto;
  }
  


#tools{
grid-column: 2/3;
grid-row: 1/2;
display: flex;
justify-content: center;
gap: 30px;
margin: 20px auto;
text-align: center;
font-size: 30px;
}


#main-container{
 display: grid;
 grid-template-columns: auto 500px auto;
 grid-template-rows: auto 500px auto;
}

#container {
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	max-width: 500px;
  min-height: 500px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);   grid-template-columns: repeat(var(--grid-cols), 1fr);
  box-shadow: 0px 0px 10px 2px rgb(105, 105, 105);
}
  
.grid-item {
    border: 1px solid #ddd;
  }

  .my-class {
    background-color: var(--paint);
  }
  .blue{
    color: blue;
  }