:root {
  --grid-cols: 1;
  --grid-rows: 1;
  }

#title{
	margin: 20px auto;
	text-align: center;
	font-size: 30px;
}

#tools{
display: flex;
justify-content: center;
gap: 30px;
}


#main-container{
 display: grid;
 grid-template-columns: auto 500px auto;
 grid-template-rows: auto 500px auto;
}

#container {
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	max-width: 500px;
  min-height: 500px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);   grid-template-columns: repeat(var(--grid-cols), 1fr);
  box-shadow: 0px 0px 10px 2px rgb(105, 105, 105);
}
  
.grid-item {
    border: 1px solid #ddd;
  }
